html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
}

#titulo {
    color: white;
}

header {
    background-color: dimgray;
    text-align: center;
    font-size: 20px;
}

header h2 {
    display: inline-block;
    color: white;
}

#logo {
    position: absolute;
    left: 0;
    margin-left: 30px;
    margin-top: 20px;
}

.menu {
    margin-right: 15%;
    margin-top: -30px;
}

.menu ul {
    display: inline-block;  
    list-style-type: none;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    left: 50%;
    padding: 16px;
}

.menu li a:hover {
    color: rosybrown;
}

/* Responsive el menú */
@media screen and (max-width: 600px) {
    .menu li{
        float: none;
    }
}

.sidebar {
    background-color: #f1f1f1;
    position: absolute;
    width: 30%;
    border-radius: 10px;
    margin: 1%;
    padding: 5px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

/* Responsive para el sidebar y el contenido */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 90%;
      height: auto;
    }
}


@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        float: none;
    }
}

/* Evento */
.evento {
    width: 70%;
    margin-left: 50%;
    margin-bottom: 15%;
    padding: 5px 1px;
    height: 75vh;
}

#defaultcomm {
    margin-bottom: 15%;
}

@media screen and (max-width: 400px) {
    #defaultcomm {
        margin: 0;
    }
}

#event-img {
    width: 70%;
}

#modificarImg {
    width: 50%;
}

/* Responsive */
@media screen and (max-width: 900px) {
    .evento {
        margin-bottom: 150px;
    }

    #event-img {
        float: left;
        max-width: 70%;
        padding: 15px;
    }
}

/* Botones */
#botones {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

#botones {
    padding-top: 15px;
    padding-bottom: 15px;
}

.button {
    background-color: dimgray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button1:hover {
    background-color: #3b5998;
}

#button2:hover {
    background-color: #00acee;
}

#button3:hover {
    background-color: #ff9966;
}

#button4:hover {
    background-color: #99F35A;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .evento {
        padding-top: 55%;
        padding-bottom: 55%;
    }

    .button {
        margin: 5px;
    }
}

@media screen and (max-width: 500px) {
    .evento {
        padding-top: 80%;
        margin-left: 10%;
        padding-bottom: 500px;
    }
}

@media screen and (max-width: 400px) {
    .evento {
        padding-top: 80%;
        padding-bottom: 600px;
    }
}

/* Grid */
article.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 50%;
    padding: 1px 16px;
    width: 70%;
}

@media screen and (max-width: 1100px) {
    article.grid {
        display: block;
        padding-top: 0;
        padding-left: 25%;
        padding-bottom: 65%;
    }
}

@media screen and (max-width: 750px) {
    article.grid {
        display: block;
        padding-top: 65%;
        padding-bottom: 65%;
    }
}

@media screen and (max-width: 650px) {
    article.grid {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    article.grid {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

.item {
    width: calc((100% - 100px) / 3);
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    max-width: 100%;
    text-align: center;
}

.item img{
    width: 250px;
}

/* A partir de 700px ponemos solo dos columnas*/
@media screen and (max-width: 900px) {
    .column {
      flex: 50%;
      max-width: 100%;
    }

    .column img {
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .column {
        margin-top: 50px;
        flex: 50%;
        max-width: 100%;
    }

    .column img {
        height: 100%;
    }
}

/* A partir de 600px los ponemos uno encima del otro */
@media screen and (max-width: 600px) {
    .column {
        margin-top: 50px;
        flex: 100%;
        max-width: 100%;
      }
  
      .column img {
        height: 100%;
      }
}

#container {
    width: 70%;
}

.rejilla {
    height: 165px;
}

footer {
    clear: both;
    background-color: dimgray;
    text-align: center;
    color: white;
    width: 100%;
    position: fixed;
    float: left;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 1rem;
}

/* Hacemos responsive el footer */
@media screen and (max-width: 900px) { 
    footer {
        position: fixed;
        width: 100%;
    }
}

/* Para evento imprimir */
.evento-imp {
    margin-left: 5%;
    font-family: consolas;
}

@media screen and (max-width: 640px) {
    #event-img {
        float: none;
    }

    .evento-imp p {
        float: none;
    }
}

/* Comentarios */
#comentarios {
    display: none;
}

/* Galería */
@media screen and (max-width: 800px) {
    #controles-gal {
        padding-top: 20%;
    }
}

.boton_galeria { 
    margin-bottom: 30px;
}

#desc {
    width: 50%;
}

@media screen and (max-width: 900px) {
    #desc {
        float: none;
        width: 100%;
    }
}

/* Formulario de inicio de sesión */
.formLogin {
    margin-left: 50%;
    display: flow-root;
}

@media screen and (max-width: 1100px) {
    .formLogin {
        padding-bottom: 80%;
    }
}

@media screen and (max-width: 500px) {
    .formLogin {
        padding-top: 80%;
        padding-left: 10%;
        padding-bottom: 80%;
        margin-left: 10%;
    }
}

#formularioLogin {
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 40%;
}

#formularioRegistro {
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 90%;
}

#zonaAdmin {
    margin-top: 10%;
    margin-bottom: 105%;
}

#formularioAddEvento {
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 50%;
}

@media screen and (max-width: 500px) {
    #formularioAddEvento {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
}

#formularioModEvento {
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 20%;
}

#perfil {
    margin-top: 10%;
    margin-left: 40%;
    margin-bottom: 60%;
}

@media screen and (max-width: 500px) {
    #perfil {
        padding-top: 110%;
        margin-left: -40%;
        padding-bottom: 20%;
        display: flow-root;
    }
}

@media screen and (max-width: 400px) {
    #perfil {
        padding-top: 150%;
        padding-bottom: 20%;
        display: flow-root;
    }
}

/* Iconos */
.iconos {
    width: 20px;
    height: 20px;
    float: right;
    padding: 5px;
}

/* Etiquetas */
.etiquetas {
    background-color: rgb(218, 89, 89);
    font-size: 10px;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Botones de la galería */
.botonGaleria {
    background-color: dimgray;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  display: inline-block;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* Buscador */
#formularioBuscador {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#resultadosBusqueda {
    background-color: white;
    text-align: left;
    padding-left: 2px;
}