html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
}

header {
    background-color: dimgray;
    text-align: center;
    font-size: 20px;
}

header h2 {
    display: inline-block;
    color: white;
}

#logo {
    position: absolute;
    left: 0;
    margin-left: 30px;
    margin-top: 20px;
}

.menu {
    margin-right: 35px;
    margin-top: -30px;
}

.menu ul {
    display: inline-block;  
    list-style-type: none;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    left: 50%;
    padding: 16px;
}

.menu li a:hover {
    color: rosybrown;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Responsive para el sidebar y el contenido */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

/* Grid */
div.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.column {
    flex: 25%;
    max-width: 30%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* A partir de 700px ponemos solo dos columnas*/
@media screen and (max-width: 900px) {
    .column {
      flex: 50%;
      max-width: 100%;
    }

    .column img {
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .column {
        margin-top: 50px;
        flex: 50%;
        max-width: 100%;
    }

    .column img {
        height: 100%;
    }
}

/* A partir de 600px los ponemos uno encima del otro */
@media screen and (max-width: 600px) {
    .column {
        margin-top: 50px;
        flex: 100%;
        max-width: 100%;
      }
  
      .column img {
          height: 100%;
      }
}

#container {
    width: 70%;
}

.rejilla {
    height: 165px;
}

footer {
    display: block;
    background-color: dimgray;
    text-align: center;
    color: white;
    padding: 30px;
}