{% extends "padre.html" %}       
    {% block contenido %}
        <article class="evento">
            <div id="etiquetasEvento">
                {% for etiqueta in etiquetas %}
                    <p class="etiquetas">{{ etiqueta }}</p>
                {% endfor %}
            </div>
            
            <h2>
                {{ evento['nombre'] }}
            </h2>

            {% if usuario['gestor'] == 1 %}
                <a href="/gestioneventos.php?ev={{ evento['id'] }}&delete=true&evento=true"><img class="iconos" src="/img/senales.png"/></a>
                <a href="/modificarEvento.php?ev={{ evento['id'] }}"><img class="iconos" src="/img/lapiz.png"/></a>
            {% endif %}

            <h4>
                {{ evento['fecha'] }}, {{ evento['lugar'] }}
            </h4>
            
            <div class="slideshow-container">
                {% for img in galeria %}
                    <div class="mySlides fade">
                        <img style="width: 100%" src="/img/{{ img }}">
                    </div>
                {% endfor %}

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>

            <script>
                /* Galería nueva */
                var slideIndex = 1;
                showSlides(slideIndex);

                // Next/previous controls
                function plusSlides(n) {
                    showSlides(slideIndex += n);
                }

                function showSlides(n) {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    if (n > slides.length) {slideIndex = 1}
                    if (n < 1) {slideIndex = slides.length}
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slides[slideIndex-1].style.display = "block";
                }
            </script>

            <div id="desc">
                <p>
                    {{ evento['descripcion'] }}
                </p>
            </div>

            <!-- Cajón de comentarios. Contiene los dos comentarios por defecto y el formulario para enviar un nuevo comentario -->
            <div id="comentarios">
                <!-- Comentarios separados por una barra horizontal -->
                <hr>

                <div id ="comments">
                    {% for comentario in comentarios %}
                        <div class="comen">
                            <p><strong>{{ comentario[1] }}</strong></p>
                            {% if usuario['moderador'] == 1 %}
                            <a href="/evento.php?ev={{ evento['id'] }}&comen={{ comentario[0] }}&delete=true"><img class="iconos" src="/img/senales.png"/></a>
                            <a href="/modificarComentario.php?ev={{ evento['id'] }}&comen={{ comentario[0] }}"><img class="iconos" src="/img/lapiz.png"/></a>
                            {% endif %}
                            <p><em>{{ comentario[2]|date("d \\d\\e F \\d\\e Y") }}</em></p>
                            <p>{{ comentario[3] }}</p>
                            {% if comentario[4] == 1 %}
                            <p><em>Mensaje editado por un moderador</em></p>
                            {% endif %}
                        </div>
                        <hr>
                    {% endfor %}
                </div>

                <!-- Formulario para comentar -->
                <form action="addcomentario.php?ev={{ evento['id'] }}" method="post" id="addcomentario" name="formulario">
                    <h3>Publicar Comentario</h3>
                        <textarea id="censurar" oninput="censura()" name="comentario" form="addcomentario" required></textarea>
                    </p>
                    <p>
                        <input type="submit" value="Publicar Comentario" />
                        <input type="reset" value="Borrar">
                    </p>
                    </form>
            </div>

            <!-- Botones del evento -->
            <div id="botones">
                <a href="#" class="button" id="button1">FaceBook</a>
                <a href="#" class="button" id="button2">Twitter</a>
                <a href="../templates/evento_imprimir.html" class="button" id="button3">Imprimir</a>
                {% if identificado == true %}
                    <button type="button" class="button" id="button4" onclick="CajaComentarios()">Comentar</span>
                {% endif %}
            </div>
        </article>

        <input id="galeria" style="visibility:hidden;" value="
            {% for src in galeria %}
            {{ src }}
            {% endfor %}"/>

        <input id="palabras" style="visibility:hidden;" value="
            {% for palabra in palabras %}
            {{ palabra }}
            {% endfor %}"/>
    {% endblock %}