{% extends "padre.html" %}       
    {% block contenido %}
        <article class="evento">
            <h2>
                {{ evento['nombre'] }}
            </h2>
            <h4>
                {{ evento['fecha'] }}, {{ evento['lugar'] }}
            </h4>

            <div id="controles-gal">
                <h4>
                    Galería de Fotos
                </h4>
                <input type="button" class="boton_galeria" value="&lt;&lt; Anterior" onclick="anterior()"> 
                <input type="button" class="boton_galeria" value="Siguiente &gt;&gt;" onclick="siguiente()">
            </div>

            <div id="desc">
                <p>
                    {{ evento['descripcion'] }}
                </p>
            </div>
            
            

            <img id="event-img" src="{{ evento['imagen'] }}">

            <!-- Cajón de comentarios. Contiene los dos comentarios por defecto y el formulario para enviar un nuevo comentario -->
            <div id="comentarios">
                <!-- Comentarios separados por una barra horizontal -->
                <hr>

                <div id ="defaultcomm">
                    {% for comentario in comentarios %}
                        <div class="comen">
                            <p><strong>{{ comentario[0] }}</strong></p>
                            <p><em>{{ comentario[1]|date("d \\d\\e F \\d\\e Y, H:i") }}</em></p>
                            <p>{{ comentario[2] }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                </div>

                <!-- Formulario para comentar -->
                <form name="formulario">
                    <p>Nombre<br> <input type="text" name="nombre" size="40"></p>
                    <p>Correo Electrónico<br> <input type="text" name="email" size="40"></p>
                    <p>Comentario<br>
                        <textarea id="censurar" oninput="censura()" name="comentario"></textarea>
                    </p>
                    <p>
                        <button type="button" onclick="Comentar()">Enviar</button>
                        <input type="reset" value="Borrar">
                    </p>
                    </form>
            </div>

            <!-- Botones del evento -->
            <div id="botones">
                <a href="#" class="button" id="button1">FaceBook</a>
                <a href="#" class="button" id="button2">Twitter</a>
                <a href="../templates/evento_imprimir.html" class="button" id="button3">Imprimir</a>
                <button type="button" class="button" id="button4" onclick="CajaComentarios()">Comentar</span>
            </div>
        </article>

        <input id="galeria" style="visibility:hidden;" value="
            {% for src in galeria %}
            {{ src }}
            {% endfor %}"/>

        <input id="palabras" style="visibility:hidden;" value="
            {% for palabra in palabras %}
            {{ palabra }}
            {% endfor %}"/>
    {% endblock %}