<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>P1 SIBW - Francisco Domínguez Lorente</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <header>
            <img id="logo-imp" src="https://pluspng.com/img-png/png-logo-design-fancy-png-logo-design-91-on-professional-logo-design-with-png-logo-design-734.png" width=100px height=100px alt="Logo">
        </header>

        <section id="container">
            <div class="evento-imp">
                <h2>
                    Dakar 2020 - Fernando Alonso
                </h2>

                <p><img class="event-img" src="../P1/img/dakar.jpeg">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit nullam, eu in litora cum cursus fermentum felis elementum turpis, platea sociosqu et cras semper nascetur taciti. 
                    Cubilia metus inceptos per justo tellus semper montes posuere, id mi fusce urna lobortis placerat. Ad placerat cum sapien augue aliquet proin dignissim, mus fermentum vitae varius 
                    lacinia velit condimentum, bibendum morbi luctus scelerisque platea faucibus.</br></br>

                    Magnis cum leo nunc nec diam taciti, est fusce ullamcorper metus vulputate at, libero suspendisse ac cursus aliquam. 
                    Sociis congue curabitur facilisis tempor odio interdum lacus, hac ultricies diam morbi nibh litora leo, iaculis sodales ut potenti fringilla praesent. 
                    Erat faucibus neque eros pellentesque ornare interdum id vel, sagittis maecenas montes fames proin laoreet eleifend in, parturient fringilla egestas litora ullamcorper dapibus conubia.</br></br>

                    Suscipit laoreet proin ligula primis maecenas sapien, parturient potenti mattis metus faucibus nibh, consequat eros et ut feugiat. Dui tempor at varius hendrerit sodales, 
                    arcu natoque cursus suscipit, vestibulum taciti lacus pretium. Facilisis porttitor urna sed morbi tellus lacinia posuere libero ante aliquet, mollis ac facilisi duis malesuada 
                    sodales senectus per tempus ridiculus tempor, nulla id augue lectus accumsan vestibulum dictum fusce penatibus. Interdum nam gravida venenatis posuere viverra commodo bibendum 
                    imperdiet vehicula, mauris sociosqu mattis mi consequat congue natoque rhoncus enim, feugiat per sem nullam ad justo phasellus a.</br></br>

                    Primis posuere placerat habitasse iaculis sollicitudin cum natoque fusce, cubilia lacus tortor duis habitant rutrum et sem conubia, taciti ridiculus 
                    euismod id diam massa facilisis. Metus venenatis tempus sodales facilisis dignissim pulvinar, curae sociosqu consequat dis natoque proin nostra, augue tristique aliquam erat commodo.

                </p>
            </div>
        </section>
    </body>
</html>