{% extends "padre.html" %}
    {% block contenido %}
    <article class="grid">
        {% for evento in eventos|batch(3) %}
            <div class="column">
                {% for fila in evento %}
                    <div>
                        <a href="evento.php?ev={{ fila[0] }}"><img class="rejilla" src="{{ fila[4] }}"></a>
                        <p><a href="evento.php?ev={{ fila[0] }}">{{ fila[1] }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </article>
    {% endblock %}