{% extends "padre.html" %}
    {% block contenido %}
        <article class="formLogin">
            <h3>Modificando comentario</h3><br>
            <strong>Autor:</strong> {{ comentario['autor'] }}<br><br>
            <strong>Contenido actual:</strong> {{ comentario['contenido'] }}<br><br>
            <form action="modificarComentario.php?ev={{ comentario['idEven'] }}&comen={{ comentario['idComen'] }}" method="post" id="modificar" name="formulario">
                <strong>Modificar comentario:</strong><br>
                <textarea name="comentario" form="modificar" oninput="censura()" required></textarea><br><br>
                <input type="submit" value="Modificar" />
            </form>
        </article>

        <input id="palabras" style="visibility:hidden;" value="
            {% for palabra in palabras %}
            {{ palabra }}
            {% endfor %}"/>
    {% endblock %}